In [239]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

In [240]:
ticker = "^NSEI"

In [241]:
# end_date = datetime.now()
# start_date = end_date - timedelta(days=730)  # 2 years ago

In [242]:
# print(end_date)
# print(start_date)

In [243]:
# start_date.strftime('%Y-%m-%d')

In [244]:
# data = yf.download(ticker, start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'))
data = yf.download(ticker, start='2024-01-01', end='2025-12-31')

[*********************100%%**********************]  1 of 1 completed

In [245]:
data['Change'] = (data['Close'] - data['Close'].shift(1)) / data['Close'].shift(1) * 100
data['Change'] = data['Change'].round(2)

In [246]:
data.to_csv('nifty_13_09_2022_to_12_09_2024.csv')

In [247]:
data.tail(2)

,Open,High,Low,Close,Adj Close,Volume,Change
Date,,,,,,,
2024-09-11,25034.000000,25113.699219,24885.150391,24918.449219,24918.449219,279200,-0.49
2024-09-12,25059.650391,25430.400391,24941.449219,25388.900391,25388.900391,0,1.89

In [248]:
len(data)

172

In [249]:
range_dict = {
    'a': '(-∞, -4%]',
    'b': '(-4% to -3.5%]',
    'c': '(-3.5% to -3.0%]',
    'd': '(-3.0% to -2.5%]',
    'e': '(-2.5% to -2.0%]',
    'f': '(-2.0% to -1.5%]',
    'g': '(-1.5% to -1.0%]',
    'h': '(-1.0% to -0.5%]',
    'i': '(-0.5% to 0%]',
    'j': '(0% to 0.5%]',
    'k': '(0.5% to 1.0%]',
    'l': '(1.0% to 1.5%]',
    'm': '(1.5% to 2.0%]',
    'n': '(2.0% to 2.5%]',
    'o': '(2.5% to 3.0%]',
    'p': '(3.0% to 3.5%]',
    'q': '(3.5% to 4.0%]',
    'r': '(4.0% to ∞)'
}

In [250]:
a = data[data['Change'] <= -4].shape[0]
b = data[(data['Change'] > -4) & (data['Change'] <= -3.5)].shape[0]
c = data[(data['Change'] > -3.5) & (data['Change'] <= -3.0)].shape[0]
d = data[(data['Change'] > -3.0) & (data['Change'] <= -2.5)].shape[0]
e = data[(data['Change'] > -2.5) & (data['Change'] <= -2.0)].shape[0]
f = data[(data['Change'] > -2.0) & (data['Change'] <= -1.5)].shape[0]
g = data[(data['Change'] > -1.5) & (data['Change'] <= -1.0)].shape[0]
h = data[(data['Change'] > -1.0) & (data['Change'] <= -0.5)].shape[0]
i = data[(data['Change'] > -0.5) & (data['Change'] <= 0)].shape[0]
j = data[(data['Change'] > 0) & (data['Change'] <= 0.5)].shape[0]
k = data[(data['Change'] > 0.5) & (data['Change'] <= 1.0)].shape[0]
l = data[(data['Change'] > 1.0) & (data['Change'] <= 1.5)].shape[0]
m = data[(data['Change'] > 1.5) & (data['Change'] <= 2.0)].shape[0]
n = data[(data['Change'] > 2.0) & (data['Change'] <= 2.5)].shape[0]
o = data[(data['Change'] > 2.5) & (data['Change'] <= 3.0)].shape[0]
p = data[(data['Change'] > 3.0) & (data['Change'] <= 3.5)].shape[0]
q = data[(data['Change'] > 3.5) & (data['Change'] <= 4.0)].shape[0]
r = data[(data['Change'] > 4.0)].shape[0]

In [251]:
count_dict = {
    'a': a,
    'b': b,
    'c': c,
    'd': d,
    'e': e,
    'f': f,
    'g': g,
    'h': h,
    'i': i,
    'j': j,
    'k': k,
    'l': l,
    'm': m,
    'n': n,
    'o': o,
    'p': p,
    'q': q,
    'r': r
}

In [252]:
data_for_df = {
    'Range': list(range_dict.values()),
    'Count': [count_dict[key] for key in count_dict.keys()]
}

In [253]:
result_df = pd.DataFrame(data_for_df)
result_df['Fraction'] = ((result_df['Count'] / len(data)) * 100).round(2)

In [254]:
result_df

               Range  Count  Fraction
0          (-∞, -4%]      1      0.58
1     (-4% to -3.5%]      0      0.00
2   (-3.5% to -3.0%]      0      0.00
3   (-3.0% to -2.5%]      1      0.58
4   (-2.5% to -2.0%]      1      0.58
5   (-2.0% to -1.5%]      3      1.74
6   (-1.5% to -1.0%]      7      4.07
7   (-1.0% to -0.5%]     18     10.47
8      (-0.5% to 0%]     38     22.09
9       (0% to 0.5%]     57     33.14
10    (0.5% to 1.0%]     32     18.60
11    (1.0% to 1.5%]      4      2.33
12    (1.5% to 2.0%]      6      3.49
13    (2.0% to 2.5%]      1      0.58
14    (2.5% to 3.0%]      0      0.00
15    (3.0% to 3.5%]      2      1.16
16    (3.5% to 4.0%]      0      0.00
17       (4.0% to ∞)      0      0.00

In [255]:
# (-1 to 1]
print(round(result_df['Fraction'][7] + result_df['Fraction'][8] + result_df['Fraction'][9] + result_df['Fraction'][10], 2))
print(round(result_df['Count'][7] + result_df['Count'][8] + result_df['Count'][9] + result_df['Count'][10], 2))

84.3
145

In [256]:
# less than -1
print(round(result_df['Fraction'][0] + result_df['Fraction'][1] + result_df['Fraction'][2] + result_df['Fraction'][3] + result_df['Fraction'][4] + result_df['Fraction'][5] + result_df['Fraction'][6], 2))
print(round(result_df['Count'][0] + result_df['Count'][1] + result_df['Count'][2] + result_df['Count'][3] + result_df['Count'][4] + result_df['Count'][5] + result_df['Count'][6], 2))

7.55
13

In [257]:
# greater than 1
print(round(result_df['Fraction'][11] + result_df['Fraction'][12] + result_df['Fraction'][13] + result_df['Fraction'][14] + result_df['Fraction'][15] + result_df['Fraction'][16] + result_df['Fraction'][17], 2))
print(round(result_df['Count'][11] + result_df['Count'][12] + result_df['Count'][13] + result_df['Count'][14] + result_df['Count'][15] + result_df['Count'][16] + result_df['Count'][17], 2))

7.56
13

In [258]:
len(data)

172